trigger: none

pool: Mera pool

stages:
  - stage: Build 
    jobs:
      - job:
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'mvn clean package'
            workingDirectory: '$(System.DefaultWorkingDirectory)'

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'java-artifact'
            publishLocation: 'pipeline'
          
  

